* {
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: unset;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
body {
  font-size: 14px;
  color: #202124;
  margin: 0;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-wrapper #main {
  flex-grow: 1;
}

#header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 6px;
}
#header ul {
  display: flex;
  align-items: center;
}
#header .left-list {
  margin-left: 10px;
}
#header .left-list li a {
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
}
#header .right-list {
  font-size: 13px;
  margin-right: 8px;
}
#header .right-list li + li {
  padding-left: 15px;
}
#header .img-menu-wrapper {
  width: 40px;
  height: 40px;

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#header .img-menu-wrapper:hover {
  background-color: rgba(60, 64, 67, 0.08);
}
#header .img-menu {
  width: 22px;
  height: 22px;
}
#header .btn-login {
  background: #1a73e8;
  color: white;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 9px 23px;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 0.25px;
  line-height: 16px;
}
#main {
  display: flex;
  flex-direction: column;
  font-size: 80px;
  font-weight: bold;
}
.main-img {
  width: 300px;
  margin: 0 auto;
}
.main-middle {
  display: flex;

  width: 580px;
  height: 45px;
  border: 1px solid rgb(194, 189, 189);
  border-radius: 150px;
  margin: 0 auto;
}
.main-middle:hover {
  box-shadow: 0px 1px 6px rgb(32 33 36/28%);
  border-color: rgba(223, 225, 229, 0);
}
.main-search {
  height: 43px;
  flex: 1;
  margin: 0;
  border: none;
  outline: none;
}

.main-search-help {
  margin: 12px 15px;
  align-items: center;
  width: 20px;
  height: 20px;
}
.main-search-img {
  margin: 10px 0px;
  width: 23px;
  height: 23px;
  cursor: pointer;
}
.main-search-mic {
  margin: 5px 10px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.title-bottom {
  display: flex;
}
.title-bottom-left {
  width: 100px;
  height: 35px;
  text-align: center;
  color: #3c4043;
  background-color: #f8f9fa;
  border: none;
  margin-left: 380px;
  margin-top: 28px;
  font-size: 20;
  cursor: pointer;
}
.tooltip-wrapper {
  position: relative;
  display: flex;
}
.tooltip {
  content: "";
  display: none;
  position: absolute;
  background: #000;
  color: #fff;
  width: 60px;
  font-size: 12px;
  padding: 5px;
  text-align: center;
}
#main .tooltip:before {
  content: "";
  width: 10px;
  height: 10px;
  background: #000;
  position: absolute;
  bottom: 21px;
  left: 30px;
  transform: rotate(45deg);
}
.title-botttom-right:hover {
  border: 1px solid gray;
  box-shadow: 0 1px 1px rgb(0 0 0 /10%);
  background-color: #f8f9fa;
  color: #202124;
}
.title-bottom-right {
  width: 142px;
  height: 35px;
  text-align: center;
  color: #3c4043;
  background-color: #f8f9fa;
  border: none;
  margin-left: 20px;
  margin-top: 28px;
  font-size: 20;
  cursor: pointer;
}
.service {
  font-size: 12px;
  line-height: 24px;
  color: #3c4043;
  text-align: center;
}
.service a {
  color: #1a0dab;
}
/* .title-botttom-right:hover {
  border: 1px solid gray;
  box-shadow: 0 1px 1px rgb(0 0 0 /10%);
  background-color: #f8f9fa;
  color: #202124;
} */
.tab-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.tab-list li {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tab-list li:hover {
  background-color: rgb(229, 231, 232);
}
.tab-list .icon-wrapper {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: rgba(241, 243, 244, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}
.tab-list .img-icon {
  width: 24px;
  height: 24px;
}
.tab-list .tab-name {
  margin-top: 6px;
  margin-bottom: 16px;
}
#footer {
  background: #f2f2f2;
  color: #70757a;
}
#footer .bar1 {
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
}
/* @media screen and (max-width: 1200px) { */
#footer .bar2 {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
/* } */

#footer .bar2 ul {
  display: flex;
}
#footer .bar2 ul li a {
  display: inline-block;
  padding: 15px;
}
